{% extends 'base.html' %}
{% block title %}{{ article.title|striptags }} // {{ super() }}{% endblock title %}
{% block facebook %}
	<meta property="og:title" content="{{ article.title }}" />
	<meta property="og:site_name" content="{{ SITENAME }}"/>
	<meta property="og:url" content="{{ SITEURL }}/{{ article.url }}" />
	<meta property="og:description" content="{{article.summary|striptags}}" />
	<meta property="og:image" content="{{ SITEURL }}{{PROFILE_IMAGE_URL}}" />
	<meta property="og:type" content="article" />
	<meta property="fb:app_id" content="{{FACEBOOK_APP_ID}}" />
{% endblock facebook %}
{% block head_css %}
    <link rel="stylesheet" href="{{ SITEURL }}/theme/css/pygments.css">
{% endblock %}

{% block head_js %}
    <script src="//cdnjs.cloudflare.com/ajax/libs/fitvids/1.0.1/jquery.fitvids.min.js"></script>
    <script>
        $(document).ready(function(){
            $(".content").fitVids();
        });
    </script>
{% endblock %}

{% block content %}
<div class="pure-g-r" id="layout">
    <div class="sidebar sidebar-article pure-u">
        <header class="header-article">
            <hgroup>
                <a href="{{ SITEURL }}/">
                    <img class="article-avatar" alt="{{ article.author }}" src="{{ PROFILE_IMAGE_URL }}">
                </a>
                <h2 class="article-info">{{ article.author }}</h2>
                <small class="about-author">{{ article.about_author }}</small>
                <h5>Published</h5>
                <p>{{ article.locale_date }}</p>
                <a href="/">&larr;Home</a>
            </hgroup>
        </header>
    </div>
    <div class="pure-u">
        <div class="content">
            <section class="post">
                <header class="post-header">
                    <h1><span class="post-myanmar">{{ article.title }}</span></h1>
							<p class="post-meta">
                            // Under <a href="{{ SITEURL }}/{{ article.category.url }}"><span class="post-myanmar">{{ article.category }}</span></a>
							</p>
							{% if article.tags %}
                        <p class="post-meta">
                            // Tags {% for tag in article.tags %}
                                <a class="post-category" href="{{ SITEURL }}/{{ tag.url }}"><span class="post-myanmar">{{ tag }}</span></a>
                            {% endfor %}
                        </p>
							{% endif %}
                </header>
            </section>
            <span class="post-myanmar">{{ article.content }}</span>
            <div class="fb-like" data-href="{{ SITEURL }}/{{ article.url }}" data-layout="standard" data-action="like" data-show-faces="true" data-share="false"></div>
            <div class="hr"></div>
            <a href="#" class="go-top">Go Top</a>
            {% if DISQUS_SITENAME %}
                {% include 'disqus.html' %}
            {% endif %}
            {% include 'footer.html' %}
        </div>
    </div>
</div>
{% endblock  %}
