{% extends 'index.html' %}
{% block title %}{{ page.title|striptags }} // {{ super() }}{% endblock title %}
{% block facebook %}
	<meta property="og:title" content="{{ page.title }}" />
	<meta property="og:site_name" content="{{ SITENAME }}"/>
	<meta property="og:url" content="{{ SITEURL }}/{{ page.url }}" />
	<meta property="og:description" content="{{page.summary|striptags}}" />
	<meta property="og:image" content="{{ SITEURL }}{{PROFILE_IMAGE_URL}}" />
	<meta property="og:type" content="article" />
	<meta property="fb:app_id" content="{{FACEBOOK_APP_ID}}" />
{% endblock facebook %}

{% block content %}
<div class="pure-g-r" id="layout">
    {% include 'sidebar.html' %}
    <div class="pure-u-1">
        <div class="content">
            <h1 class="content-subhead"><span class="post-myanmar">{{ page.title }}</span></h1>
            <span class="post-myanmar"><p>{{ page.content }}</p></span>
        </div>
    </div>
</div>
{% include 'footer.html' %}
{% endblock %}
